div {
    margin-bottom: 10px;
  }
  .strength-container {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
  }
  .strength-section {
    width: 30%;
    height: 10px;
  }

  input[type="text"] {
    border: solid 3px darkblue;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 100%;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }

  input[type="text"]:focus {
    border: solid 3px tomato;
    color: rgb(2, 102, 105);
  }
  .password-container {
    width: 400px;
  }